@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
    font-family: "Lato", sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.fridge {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffa500;
    text-align: center;
}

.fridgeTypes {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.fridgeItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fridgeItem div {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.fridgeItem span {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
