@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
    --background: #212121;
    --orange-background: orange;
    --text-on-background: #ededed;
    --primary-text: #000;
    --cerise: #ee2a7b;
}

body {
    font-family: "Lato", sans-serif;
}

.size-6 {
    width: 1.5rem;
    height: 1.5rem;
    margin: auto;
}

.size-8 {
    width: 2rem;
    height: 2rem;
    margin: auto;
}

.center {
    display: flex;
    display: flex;
    justify-content: center;
}

.main {
    min-height: 100vh;
    background-color: var(--orange-background);
}

.main * {
    color: var(--primary-text);
}

.mainDiv {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-height: calc(100vh - 8.75rem);
}

.header {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    width: 100%;
    height: 8.75rem;

    & > img {
        flex-grow: attr(height type(*));
        width: auto;
        height: attr(height px);
    }
}

nav > :nth-child(2 of ul) {
    overflow-x: auto;
}

.fullscreenButton {
    position: absolute;
    z-index: 10;
    top: 0.625rem;
    right: 0.625rem;
    background: none;
    border: none;
    cursor: pointer;
}

.productsDiv {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    border-radius: 0.625rem;
    padding: 0 1.875rem;
    margin-bottom: 2rem;

    column-gap: 1.875rem;
    row-gap: 2.5rem;

    @media (min-width: 48rem) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.typesDiv {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    overflow-x: auto;
    max-width: 60ch;
    font-size: 1.2rem;
}

.typesDiv:nth-last-child(1):nth-child(odd) {
    grid-column: span 2;
}

.typesDiv > h1 {
    text-align: center;
    width: 100%;
    line-height: 1.8rem;
}

.typesDiv > img {
    align-self: center;
}

.product {
    display: flex;
    align-items: baseline;
    align-self: stretch;
    flex-direction: row;
    flex-wrap: nowrap;

    img,
    .line {
        align-self: center;
    }

    .line {
        display: flex;
        justify-content: stretch;
        align-items: baseline;
        width: 100%;
    }

    p {
        line-height: 120%;
        flex-shrink: 0;
        margin-bottom: 0;
    }

    .name {
        flex-shrink: 1;
    }

    .dots {
        overflow: hidden;
        width: 1fr;
        border-bottom: 0.125rem dotted var(--primary-text);
        margin: 0 0.125rem 0.3125rem 0.125rem;
        flex-grow: 1;
    }
}

.twoColumnsLeaderBoard {
    display: grid;
    grid-template: repeat(5, auto) / 1fr 1fr;
    grid-auto-flow: column;
    gap: 0.5em 2em;
    width: 100%;
    line-height: 1.2em;
    font-size: 1.8rem;
}

.mandagstad {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    max-height: revert;
    justify-items: stretch;

    & > div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @media (max-width: 57.5rem) {
        grid-template-columns: 1fr;
    }
}

.minstaKopDiv {
    display: flex;
    gap: 0.7rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.minstaKopDiv p {
    text-align: center;
    font-size: 1rem;
}

.minstaKopDiv a {
    color: mediumblue;
    text-decoration: none;
    font-weight: bold;
}

*:fullscreen .fullscreenHide {
    display: none;
}

@keyframes swing {
    0% {
        transform: scale(1) rotate(-10deg);
    }
    50% {
        transform: scale(1.075) rotate(10deg);
    }
    100% {
        transform: scale(1) rotate(-10deg);
    }
}

.minstaKop {
    color: var(--cerise);
    font-size: 2rem;
    animation: swing 2.3s cubic-bezier(0.85, 0, 0.15, 1) infinite;
}

.footer {
    height: 8.75rem;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 0 0 0.625rem 0.625rem;
    padding: 0.625rem 0;
}
.seeYou {
    filter: invert(0);

    @media (prefers-color-scheme: dark) {
        filter: invert(1);
    }
}

.legendDiv {
    display: grid;
    grid-template-columns: 1fr 3fr;

    @media (max-width: 64rem) {
        display: flex;
        flex-direction: column;
    }
}

.legend {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.legend li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
}

.highlight {
    fill: var(--orange-background);
}

.split {
    display: grid;
    grid-template-columns: 3fr 3fr;
    gap: 2rem;

    @media (max-width: 64rem) {
        display: flex;
        flex-direction: column;
    }
}

.split > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.split img {
    width: 80%;
    max-width: 25rem;
    border-radius: 0.25rem;
}

.memberSlot {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.memberSlot img {
    width: 9.375rem;
    height: 9.375rem;
    object-fit: cover;
    clip-path: circle(50%);
}

.memberSlot h4 {
    text-align: center;
    max-width: 10.9375rem;
}

.memberSlot p {
    text-align: center;
    font-size: 0.9rem;
}

.groupArticle main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;

    @media (max-width: 48rem) {
        display: flex;
        flex-direction: column;
    }
}

.scroll-x-overflow {
    overflow-x: auto;
}
