<!doctype html>
<html lang="se">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/static/style.css" />
        <link rel="stylesheet" href="/static/pico.pumpkin.min.css" />
        <script src="/static/htmx.min.js" defer></script>
        <script src="/static/script.js" defer></script>
        <script src="/static/Sortable.min.js"></script>
        <meta name="htmx-config" content='{"useTemplateFragments":"true"}' />
        <title>Admin - METAdorerna</title>
        <meta
            name="description"
            content="Konglig Datasektionen - METAdorerna"
        />
        <link rel="icon" href="/static/logo.png" />
    </head>
    <body class="container">
        <header>
            <nav>
                <ul>
                    <li>
                        <img
                            alt="Logo"
                            width="84.4"
                            height="82.5"
                            style="color: transparent"
                            src="/static/logo.png"
                        />
                    </li>
                    <li><strong>METAdorerna</strong></li>
                </ul>
                <ul>
                    <li><a href="/about">Hem</a></li>
                    <li><a href="/meta">META</a></li>
                    <li><a href="/laskkyl">Läskkyl</a></li>
                    <li><a href="/admin">Admin</a></li>
                </ul>
            </nav>
        </header>
        <main class="container">
            <div>
                <h1>Admin</h1>
                <h2>Hej, {{ .User }}!</h2>
                <p>Här kan du ändra inställningar för METAdorerna.</p>
            </div>
            {{ if .FridgePerm }}
            <article>
                <h3>Läskkyl</h3>
                <p>Här kan du ändra innehållet i läskkylen.</p>
                <div>
                    <h4>Dricka</h4>
                    <table>
                        <thead>
                            <tr>
                                <td
                                    class="drag-handle"
                                    style="cursor: grab"
                                ></td>
                                <td scope="col">Namn</td>
                                <td scope="col">Pris</td>
                                <td scope="col"></td>
                            </tr>
                        </thead>
                        <tbody id="soda-table">
                            {{range .FridgeData.Sodas}}
                            <tr data-id="{{.Priority}}" data-name="{{.Name}}">
                                {{template "fridgeItem" .}}
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                    {{template "addForm" "soda"}}
                </div>
                <div>
                    <h4>Snacks</h4>
                    <table>
                        <thead>
                            <tr>
                                <td
                                    class="drag-handle"
                                    style="cursor: grab"
                                ></td>
                                <td scope="col">Namn</td>
                                <td scope="col">Pris</td>
                                <td scope="col"></td>
                            </tr>
                        </thead>
                        <tbody id="snack-table">
                            {{range .FridgeData.Snacks}}
                            <tr data-id="{{.Priority}}" data-name="{{.Name}}">
                                {{template "fridgeItem" .}}
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                    {{template "addForm" "snack"}}
                </div>
            </article>
            {{ end }} {{ if .CleanPerm }}
            <div>
                <h3>Städning</h3>
                <p>Här kan du ändra inställningar för städning.</p>
            </div>
            {{ end }}
        </main>
        <dialog id="Modal"><article id="ModalContent"></article></dialog>
        <footer>
            <nav>
                <ul>
                    <li>
                        <img
                            alt="Logo"
                            width="84.4"
                            height="82.5"
                            style="color: transparent"
                            src="/static/logo.png"
                        />
                    </li>
                </ul>
                <ul>
                    <li>
                        <img
                            alt="See you!"
                            width="306"
                            height="84"
                            decoding="async"
                            data-nimg="1"
                            class="seeYou"
                            style="color: transparent"
                            src="/static/see_you_trans.png"
                        />
                    </li>
                </ul>
            </nav>
        </footer>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const sortSodas = document.getElementById("soda-table");
                const sortSnacks = document.getElementById("snack-table");

                new Sortable(sortSodas, {
                    handle: ".handle",
                    animation: 150,
                    onEnd: function () {
                        const rows = Array.from(sortSodas.children);

                        const items = rows.map((row, index) => ({
                            name: row.dataset.name,
                            priority: index,
                        }));

                        htmx.ajax("POST", "/admin/fridge/priority", {
                            values: { items: JSON.stringify(items) },
                            swap: "none",
                        });
                    },
                });
                new Sortable(sortSnacks, {
                    handle: ".handle",
                    animation: 150,
                    onEnd: function () {
                        const rows = Array.from(sortSnacks.children);

                        const items = rows.map((row, index) => ({
                            name: row.dataset.name,
                            priority: index,
                        }));

                        htmx.ajax("POST", "/admin/fridge/priority", {
                            values: { items: JSON.stringify(items) },
                            swap: "none",
                        });
                    },
                });
            });
        </script>
    </body>
</html>
