<!doctype html>
<html lang="se">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/static/style.css" />
        <link rel="stylesheet" href="/static/pico.pumpkin.min.css" />
        <script src="/static/script.js" defer></script>
        <script src="/static/htmx.min.js" defer></script>
        <meta name="htmx-config" content='{"useTemplateFragments":"true"}' />
        <title>Måndagsstäd - METAdorerna</title>
        <meta
            name="description"
            content="Konglig Datasektionen - METAdorerna"
        />
        <link rel="icon" href="/static/logo.png" />
    </head>
    <body class="container-flex">
        <div class="container fullscreenHide">
            <header>
                <nav>
                    <ul>
                        <li>
                            <img
                                alt="Logo"
                                width="84.4"
                                height="82.5"
                                style="color: transparent"
                                src="/static/logo.png"
                            />
                        </li>
                        <li><strong>METAdorerna</strong></li>
                    </ul>
                    <ul>
                        <li><a href="/about">Hem</a></li>
                        <li><a href="/meta">META</a></li>
                        <li><a href="/laskkyl">Läskkyl</a></li>
                        <li><a href="/mandagsstad">Måndagsstäd</a></li>
                        <li><a href="/admin">Admin</a></li>
                    </ul>
                </nav>
            </header>
        </div>
        <main class="main">
            <div class="mainDiv">
                <button class="fullscreenButton" onclick="toggleFullscreen()">
                    <img
                        src="/static/fullscreen-logo.svg"
                        alt="Fullscreen"
                        width="40"
                        height="40"
                    />
                </button>
                <div class="header" style="flex-direction: column">
                    <img
                        src="/static/Måndagsstäd-pink.gif"
                        width="600"
                        height="125"
                        style="pointer-events: none"
                    />
                    <img
                        src="/static/Måndagsstäd-all-time.gif"
                        width="300"
                        height="75"
                        style="pointer-events: none"
                    />
                </div>
                <div
                    class="typesDiv"
                    style="min-width: min(70%, 40rem); margin-top: 2rem"
                >
                    {{- range .UsersAll -}}
                    <div
                        class="product"
                        style="display: flex; align-items: center"
                    >
                        <img
                            src="{{.ImgUrl}}"
                            alt=""
                            style="
                                aspect-ratio: 1;
                                width: 2.5rem;
                                margin-right: 0.3rem;
                                object-fit: cover;
                                clip-path: circle(50%);
                            "
                        />
                        <p>{{.Name}}</p>
                        <div class="dots"></div>
                        <p>{{.Points}} städ</p>
                    </div>
                    {{- end -}}
                </div>
                <div
                    class="header"
                    style="flex-direction: column; margin-top: 6rem"
                >
                    <img
                        src="/static/Måndagsstäd-anim.gif"
                        width="360"
                        height="75"
                        style="pointer-events: none"
                    />
                    <img
                        src="/static/i-ar.gif"
                        width="105"
                        height="56"
                        style="pointer-events: none"
                    />
                </div>
                <div
                    class="typesDiv"
                    style="min-width: min(70%, 40rem); margin-top: 2rem"
                >
                    {{- range .UsersYear -}}
                    <div
                        class="product"
                        style="display: flex; align-items: center"
                    >
                        <img
                            src="{{.ImgUrl}}"
                            alt=""
                            style="
                                aspect-ratio: 1;
                                width: 2.5rem;
                                margin-right: 0.3rem;
                                object-fit: cover;
                                clip-path: circle(50%);
                            "
                        />
                        <p>{{.Name}}</p>
                        <div class="dots"></div>
                        <p>{{.Points}} städ</p>
                    </div>
                    {{- end -}}
                </div>
            </div>
        </main>
        <div class="container fullscreenHide">
            <footer>
                <nav>
                    <ul>
                        <li>
                            <img
                                alt="Logo"
                                width="84.4"
                                height="82.5"
                                style="color: transparent"
                                src="/static/logo.png"
                            />
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <img
                                alt="See you!"
                                width="306"
                                height="84"
                                decoding="async"
                                data-nimg="1"
                                style="color: transparent"
                                class="seeYou"
                                src="/static/see_you_trans.png"
                            />
                        </li>
                    </ul>
                </nav>
            </footer>
        </div>
    </body>
</html>
