<!doctype html>
<html lang="se">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/static/style.css" />
        <link rel="stylesheet" href="/static/pico.pumpkin.min.css" />
        <script src="/static/script.js" defer></script>
        <title>METAdorerna</title>
        <meta
            name="description"
            content="Konglig Datasektionen - METAdorerna"
        />
        <link rel="icon" href="/static/logo.png" />
    </head>
    <body class="container">
        <header>
            <nav>
                <ul>
                    <li>
                        <img
                            alt="Logo"
                            width="84.4"
                            height="82.5"
                            style="color: transparent"
                            src="/static/logo.png"
                        />
                    </li>
                    <li><strong>METAdorerna</strong></li>
                </ul>
                <ul>
                    <li><a href="/about">Hem</a></li>
                    <li><a href="/meta">META</a></li>
                    <li><a href="/laskkyl">Läskkyl</a></li>
                    <li><a href="/admin">Admin</a></li>
                </ul>
            </nav>
        </header>
        <main class="container">
            <main class="split" style="margin-bottom: 6rem">
                <div>
                    <h1 style="font-size: 3rem">METAdorerna</h1>
                    <small style="max-width: 600px">
                        METAdorerna är en delad nämnd mellan
                        <a href="https://datasektionen.se">datasektionen</a>
                        och sektionen för
                        <a href="https://medieteknik.com">medieteknik</a>, på
                        KTH. Vi är de som tar hand om vår fantastiska
                        sektionslokal META och ser till att den är en trevlig
                        plats att vistas på. Vi har möten varje fredaglunch som
                        just du gärna får komma på! För att få info om var mötet
                        hålls så går du lättast med i METAdorerna genom
                        formuläret nedan.
                    </small>
                    <p>
                        <strong>Vill du gå med? Fyll i formuläret:</strong>
                        <a href="https://www.dsekt.se/blimetad">Bli METAdor</a>
                    </p>
                </div>
                <div>
                    <img
                        src="/static/METAdorerna_scratcy.gif"
                        alt="Metadorerna logo"
                    />
                </div>
            </main>
            <article>
                <header>
                    <h2>META</h2>
                </header>
                <main class="split">
                    <div>
                        <p>
                            META är Konglig Datasektionen och Sektionen för
                            Medietekniks delade sektionslokal. Här är medlemmar
                            från vardera sektion är välkomna att plugga, äta
                            lunch, snacka skit eller gå på olika event. För mer
                            information om lokalen, klicka här.
                            <br />
                            För mer information om META, klicka:
                            <a href="/meta">Här</a>
                        </p>
                    </div>
                    <div>
                        <img src="/static/meta.jpg" alt="Meta" />
                    </div>
                </main>
                <footer></footer>
            </article>
            <article>
                <header>
                    <h2>Internfuntionärer</h2>
                    <small
                        >Dessa tappra kämpar ser till att meta hålls i tiptop
                        skick</small
                    >
                </header>
                <main class="split">
                    {{range .Groups}} {{template "groupArticle" .}} {{end}}
                </main>
            </article>
        </main>
        <footer>
            <nav>
                <ul>
                    <li>
                        <img
                            alt="Logo"
                            width="84.4"
                            height="82.5"
                            style="color: transparent"
                            src="/static/logo.png"
                        />
                    </li>
                </ul>
                <ul>
                    <li>
                        <img
                            alt="See you!"
                            width="306"
                            height="84"
                            decoding="async"
                            data-nimg="1"
                            class="seeYou"
                            style="color: transparent"
                            src="/static/see_you_trans.png"
                        />
                    </li>
                </ul>
            </nav>
        </footer>
    </body>
</html>
