<!doctype html>
<html lang="se">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/static/style.css" />
        <link rel="stylesheet" href="/static/pico.pumpkin.min.css" />
        <script src="/static/script.js" defer></script>
        <title>Läskkyl - METAdorerna</title>
        <meta
            name="description"
            content="Konglig Datasektionen - METAdorerna"
        />
        <link rel="icon" href="/static/logo.png" />
    </head>
    <body class="container-flex">
        <div class="container fullscreenHide">
            <header>
                <nav>
                    <ul>
                        <li>
                            <img
                                alt="Logo"
                                width="84.4"
                                height="82.5"
                                style="color: transparent"
                                src="/static/logo.png"
                            />
                        </li>
                        <li><strong>METAdorerna</strong></li>
                    </ul>
                    <ul>
                        <li><a href="/about">Hem</a></li>
                        <li><a href="/meta">META</a></li>
                        <li><a href="/laskkyl">Läskkyl</a></li>
                        <li><a href="/admin">Admin</a></li>
                    </ul>
                </nav>
            </header>
        </div>
        <main class="main">
            <div class="mainDiv">
                <button class="fullscreenButton" onclick="toggleFullscreen()">
                    <img
                        src="/static/fullscreen-logo.svg"
                        alt="Fullscreen"
                        width="40"
                        height="40"
                    />
                </button>
                <div class="header">
                    <img
                        src="/static/laskkyl.gif"
                        width="800"
                        height="400"
                        style="pointer-events: none"
                    />
                </div>
                <div
                    class="productsDiv"
                    hx-ext="sse"
                    sse-connect="/sse/fridge"
                    sse-swap="message"
                >
                    {{template "sodaList" .}}
                </div>
                <div class="minstaKopDiv">
                    <h2 class="minstaKop">!!!! MINSTA KÖP 10 KR !!!!</h2>
                    <p>
                        Annars dödar swishavgifterna oss :,(
                        <br />
                        ...och METAdorerna dig!
                        <br />
                        <br />
                        Om du har önskemål eller frågor kontakta oss på
                        <a href="mailto:laskkyl@metadorerna.se">
                            laskkyl@metadorerna.se
                        </a>
                    </p>
                </div>
            </div>
        </main>
        <div class="container fullscreenHide">
            <footer>
                <nav>
                    <ul>
                        <li>
                            <img
                                alt="Logo"
                                width="84.4"
                                height="82.5"
                                style="color: transparent"
                                src="/static/logo.png"
                            />
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <img
                                alt="See you!"
                                width="306"
                                height="84"
                                decoding="async"
                                data-nimg="1"
                                style="color: transparent"
                                class="seeYou"
                                src="/static/see_you_trans.png"
                            />
                        </li>
                    </ul>
                </nav>
            </footer>
        </div>
    </body>
</html>
