{{define "sodaList"}}
<div class="typesDiv">
    <img src="/static/dryck.gif" width="350" height="175" />
    {{range .Sodas}}
    <div class="product">
        <p>{{.Name}}</p>
        <div class="dots"></div>
        <p>{{.Price}} kr</p>
    </div>
    {{end}}
</div>
<div class="typesDiv">
    <img src="/static/snacks.gif" width="350" height="175" />
    {{range .Snacks}}
    <div class="product">
        <p>{{.Name}}</p>
        <div class="dots"></div>
        <p>{{.Price}} kr</p>
    </div>
    {{end}}
</div>
{{end}}
